In [2]:
"this is some code"

'this is some code'

In [1]:
"this is some more code"

'this is some more code'

In [ ]:
#Importing Pandas and a reading a file (CSV) into a Pandas Data Frame using the relative path

In [11]:
import pandas as pd
partner = pd.read_csv("export2Partner.csv")

In [ ]:
# Initial exploration of data in preparation of subsetting: I am interested in Partner ID and Country Code

In [12]:
partner.head()

,PARTNER_ID,STICHTAG,MANDANT,STICHTAG_MANDANT_LAUF,SL_ABWEICH_LAENDERRISIKOLAND,SL_POLITISCHES_SITZLAND,SL_RECHTLICHES_LAND,PARTNERART,KZ_MANDANTENINTERNER_PARTNER,SL_RECHTSFORM,...,KZ_SME_THRESHOLD_NOT_EXC_STA,SL_CVA_COUNTERPARTY_CLASS,KZ_ELIGIBLE_SETTING_MATUR_1_Y,DAT_LEGAL_PROC_INIT,SL_ENTERPRISE_SIZE,SL_STATUS_LEGAL_PROC,SL_INTRAGROUP_EXPOSURE_CRR_113,SL_LEGAL_FORM_ECB,SL_TYPE_OF_ENTITY,KZ_GOVERNMENT_SUPPORT
0,24045513,30-JUN-21,2200,21063002200A,XXX,IE,7,XX,N,XXX,...,N,XXX,N,01-JAN-00,L,N,X,XXXXXX,XX,NaN
1,24038001,30-JUN-21,2200,21063002200A,XXX,BE,17,XX,N,XXX,...,N,XXX,N,01-JAN-00,L,N,X,XXXXXX,XX,NaN
2,24053273,30-JUN-21,2200,21063002200A,XXX,XIO,912,XX,N,XXX,...,N,XXX,N,01-JAN-00,L,N,X,XXXXXX,XX,NaN
3,87010403,30-JUN-21,2200,21063002200A,XXX,DE,39,XX,N,XXX,...,N,XXX,N,01-JAN-00,L,N,X,XXXXXX,XX,NaN
4,23670755,30-JUN-21,2200,21063002200A,XXX,NL,3,XX,N,XXX,...,N,XXX,N,01-JAN-00,L,N,X,XXXXXX,XX,NaN

In [18]:
partner.shape

(76, 82)

In [19]:
partner.columns

Index(['PARTNER_ID', 'STICHTAG', 'MANDANT', 'STICHTAG_MANDANT_LAUF',
       'SL_ABWEICH_LAENDERRISIKOLAND', 'SL_POLITISCHES_SITZLAND',
       'SL_RECHTLICHES_LAND', 'PARTNERART', 'KZ_MANDANTENINTERNER_PARTNER',
       'SL_RECHTSFORM', 'SL_ORGANBEZIEHUNG', 'SL_SONDERPARTNER_GS1',
       'SL_TEILPORTFOLIO_STA', 'SL_TEILPORTFOLIO_IRB', 'DAT_GEBURT',
       'SL_LEISTUNGSSTATUS', 'KZ_15_TAGE_WAHLRECHT', 'KZ_ANONYMISIERUNG',
       'KZ_PRIVILEGIERTE_INSTITUTION', 'KZ_HANDWERKER', 'KZ_SPV',
       'KZ_BEAUF_INVESTMENTF_PENSIONSK', 'PARTNERNAME', 'PARTNERVORNAME',
       'PARTNERNACHNAME', 'SITZ_ORT', 'SITZ_POSTLEITZAHL', 'SITZ_STRASSE',
       'GEBURTSORT', 'TITEL', 'SL_HINWEIS', 'REPORTINGINFORMATION',
       'JAHRESEINKOMMEN', 'SL_PARTNERKLASSE_INTERN',
       'KZ_LEISTUNGSSTATUS_AUTOMATISCH', 'SL_UNTERNEHMENSART_AUFSICHTSR',
       'KZ_LANGFRISTIGE_KUNDENBEZ', 'KZ_HEDGEFONDS',
       'KZ_UNMITTELBARE_AUSFALLERKENN', 'SL_GEWERBE',
       'KZ_SCHULDNERUEBERWACHUNG', 'LIEFERSYSTEM_ID',
       'KZ_INTERBANKENMARKTSPEZIALIST', 'DAT_BEG_PARTNERBEZIEHUNG',
       'SL_AUSFALLKLASSIFIKATION_BOI', 'DAT_AUSFALLKLASSIFIKATION_BOI',
       'SL_ERSTE_AUSFALLKLASSIF_BOI', 'DAT_ERSTE_AUSFALLKLASSIF_BOI',
       'SL_LEGAL_COUNTRY_ISO_3166_1_A2', 'KZ_SUPERVISED_INSURANCE_COMPAN',
       'KZ_TREATMENT_AS_CENTRAL_GOV', 'KZ_DATA_PROTECTION_STATEMENT',
       'SL_MANAGERIAL_CATEGORY', 'SL_CUSTOMER_SEGMENT', 'SL_DIVISION',
       'SL_SEGMENT', 'SL_LARGENESS', 'SL_NACE', 'SL_STAATSANGEHOERIGKEIT',
       'KZ_ESTABLISHED_RELATIONSHIP', 'KZ_ENHANCED_GROUPING_METHODS',
       'KZ_PARAGRAPH_15_KWG', 'KZ_PARAGRAPH_18_KWG', 'SL_SIZE_CLASS',
       'SL_FINANCIAL_ENTITY_REGULATION', 'SL_SPV_BUSINESS_AREA',
       'SL_SPV_CATEGORY', 'SL_PARTNER_STATUS', 'DAT_CLEARING_THRESHOLD_EXC',
       'KZ_PENSION_SCHEME_ARRANGEMENT', 'KZ_SME',
       'KZ_SME_THRESHOLD_NOT_EXC_IRB', 'KZ_SME_THRESHOLD_NOT_EXC_STA',
       'SL_CVA_COUNTERPARTY_CLASS', 'KZ_ELIGIBLE_SETTING_MATUR_1_Y',
       'DAT_LEGAL_PROC_INIT', 'SL_ENTERPRISE_SIZE', 'SL_STATUS_LEGAL_PROC',
       'SL_INTRAGROUP_EXPOSURE_CRR_113', 'SL_LEGAL_FORM_ECB',
       'SL_TYPE_OF_ENTITY', 'KZ_GOVERNMENT_SUPPORT'],
      dtype='object')

In [29]:
# After having identified the columns containing the country codes per counterparty, I create a subset
# of the table partner called "CPTY_Country_codes". I will need this to merge it with GDP information
# per country  during the COVID pandemic.
CPTY_Country_codes = partner[["PARTNER_ID", 'SL_POLITISCHES_SITZLAND', 'SL_LEGAL_COUNTRY_ISO_3166_1_A2']]
CPTY_Country_codes.head()

   PARTNER_ID SL_POLITISCHES_SITZLAND SL_LEGAL_COUNTRY_ISO_3166_1_A2
0    24045513                     IE                              IE
1    24038001                     BE                              BE
2    24053273                     XIO                             LU
3    87010403                     DE                              CH
4    23670755                     NL                              NL

In [30]:
CPTY_Country_codes.shape

(76, 3)